<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08A1F6381E25C86600A16CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A1F6511E25C86600A16CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A1F65C1E25C86600A16CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
